.theme-dark .card {
  background-color: #195072;
  background-image: url('https://n8k6e2y6.ssl.hwcdn.net/images/warframeLogo.png');
  background-size: contain; /* <------   */
  background-repeat: no-repeat;
  background-position: center right;
}
.theme-eidelon .card {
  background-image: url('http://orig00.deviantart.net/e1c6/f/2014/324/1/9/warframe_lotus_emblem_2_0_by_jackshepardn7-d87344n.png');
  background-size: contain; /* <------  */
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #001820;
}
.card-image {
  @apply h-auto;
  @apply bg-center;
  @apply w-screen;
  @apply bg-no-repeat;
  @apply bg-white;
  @apply bg-contain;
  @apply rounded-t;
  @apply border-l;
  @apply border-black;
  @apply border-b;
  @apply border-t;
  @apply rounded-t-none;
  @apply rounded-l;
  @apply text-center;
  @apply overflow-hidden;
}
.card-riven-desc {
  @apply flex;
  @apply border-transparent;
  @apply border-r;
  @apply w-screen;
  @apply text-xs;
  @apply border-b;
  @apply border-black;
  @apply border-t;
  @apply bg-white;
  @apply rounded-b-none;
  @apply rounded-r;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply leading-normal;
}
