<footer class="navbar-footer navbar-fixed-bottom text-center" id="footer">
	<div class="row" id="footer-row">
		<div class="col-lg-12" id="footer-content">
			<a name="Copyright Warframe Community Devs" href="#credits" data-target="#wfcd" data-toggle="modal" style="outline:none;"><span class="glyphicon glyphicon-copyright-mark"></span> 2017 WFCD</a>
			<span> | </span>
			<a name="License" href="#license" data-target="#license" data-toggle="modal" style="outline:none;">License</a>
			<span> | </span>
			<a name="Discord" href="https://discord.gg/jGZxH9f" rel="noopener" target="_blank">Discord</a>
		</div>
	</div>
</footer>

<!-- License Information -->
<div class="modal fade" id="license" tabindex="-1" role="dialog" aria-labelledby="licenseLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">License Information</h4>
			</div>
			<div class="modal-body">
				Concepted and Crafted by <a name="MainlandHero Github" rel="noopener" target="_blank" href="https://github.com/MainlandHero">MainlandHero</a> with contributions from others on the Warframe Community Developers team, especially the work of <a href="https://github.com/Tithen-Firion" name="Titehn-Firion Github" rel="noopener" target="_blank">Tithen-Firion</a>.
				<br /><br /> The Warframe Hub project is committed to open source. This project is licensed and distributed under
				<a name="Apache License" rel="noopener" target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
				<br /><br /> Warframe and the Warframe logo are registered trademarks of Digital Extremes Ltd. Warframe Hub is not affiliated with Digital Extremes Ltd. in any way.
				<br /><br /> You are entitled to a copy of this project AS IS, and you are free to modify it to your heart's desires. You must include a copy of this license to all future modification and releases. You can read more about the terms of the license
				<a name="Apache License" rel="noopener" target="_blank" href="https://choosealicense.com/licenses/apache-2.0/">here</a>.
				<br /><br /> Night Mode Icon <a name="Creative Commons CC" rel="noopener" target="_blank" href="https://creativecommons.org/licenses/by/3.0/us/legalcode"> Copyright Hea Poh Lin</a>
				<br /><br /> Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
				 target="_blank">CC 3.0 BY</a>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- WFCD Information -->
<div class="modal fade" id="wfcd" tabindex="-1" role="dialog" aria-labelledby="wfcdLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Warframe Community Developers</h4>
			</div>
			<div class="modal-body">
				This project is part of the Warframe Community Developers.<br>
				<a name="Warframe Hub Github" href="https://github.com/WFCD/warframe-hub" rel="noopener" target="_blank">Click here to view GitHub project.</a>
				<br><br>
				<a name="Warframe Comm Dev Github" rel="noopener" target="_blank" href="https://github.com/WFCD">
                    <img class="wfcd-banner img-rounded" style="padding: 10px 10px 10px 10px" src="https://warframestat.us/wfcd.png" /></a>
				<br><br> Pull requests are welcome, please submit any issues found to the project's
				<a name="Hub Issues" rel="noopener" target="_blank" href="https://github.com/WFCD/warframe-hub/issues">issue tracker</a>.

			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>
