<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Made by <a href="https://www.reddit.com/user/MainlandHero" rel="nofollow" target="_blank">/u/MainlandHero</a></p>
            <p>Project under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></p>
            <p>Built with <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a></p>
			<p><img src="https://raw.githubusercontent.com/Warframe-Community-Developers/banner/master/banner.png" /></p>
        </div>
    </div>
</footer>