<!-- Insert world state update information into footer -->
<script>
	/* globals $, SVGInjector */
	$('#footer-content').append('<div class="pull-right"><a id="worldstateinfo" title="World state info" data-placement="left" ' +
		'data-toggle="tooltip" href="#" data-original-title="World State obtained" style="margin-right:5px">' +
		'<span class="glyphicon glyphicon-info-sign"></span></div></a>');

	$('body').tooltip({
		selector: '[data-toggle="tooltip"]'
	});

	SVGInjector(document.querySelectorAll('img.loader'));
</script>

<!-- required js for page -->
<script src="js/utilities.js?v={{lookup sums 'js/utilities.js'}}"></script>
<script src="js/updaters.js?v={{lookup sums 'js/updaters.js'}}"></script>
<script src="js/main.js?v={{lookup sums 'js/main.js'}}"></script>

<!-- Register service worker -->
<script>
	/* globals navigator */
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('service_worker.js', {scope: '/'});
	}
</script>
