<footer class="navbar-footer navbar-fixed-bottom text-center" id="footer">
    <div class="row">
        <div class="col-lg-12">
			<span>&copy 2017 <a href="https://www.reddit.com/user/MainlandHero" rel="nofollow" target="_blank">MainlandHero</a></span>
			<span> | </span>
			<span class="glyphicon glyphicon-info-sign"></span>
			<span> | </span>
			<span class="glyphicon glyphicon glyphicon-book"></span>
			<span> | </span>
			<span>WFCD</span>
        </div>
    </div>
</footer>