<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a name="Home" href="/" class="navbar-brand">Warframe Hub</a>
			<button name="Navigation Bar" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li><a name="Timers" href="./timer">Timers</a></li>
				<li class="dropdown">
					<a name="Plains Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Plains <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a name="Map" href="./map">Map</a></li>
						<li><a name="Fishing Data" href="./fish">Fishing Data</a></li>
						<li><a name="How to Fish" href="./howtofish">How to Fish</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a name="Projects Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a name="Drops" rel="noopener" target="_blank" href="https://drops.warframestat.us">Drops</a></li>
						<li><a name="Genesis" rel="noopener" target="_blank" href="https://genesis.warframestat.us">Genesis</a></li>
						<li><a name="API Documentation" rel="noopener" target="_blank" href="https://docs.warframestat.us">API Docs</a></li>
						<li><a name="Status" rel="noopener" target="_blank" href="https://warframestat.us">Status</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="navbar-right">
				<li class="dropdown component-selector hide" id="component-selector">
					<a name="Component Selection" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="component-selection">Components <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-left" id="option_acolytes">
							<div class="checkbox">
								<input type="checkbox" id="acolyte_checkbox" class="component-check" data-component="acolytes">
								<label for="acolyte_checkbox">Acolytes</label>
							</div>
						</li>
						<li class="text-left" id="option_cetus">
							<div class="checkbox">
								<input type="checkbox" id="cetus_checkbox" class="component-check" data-component="cetus">
								<label for="cetus_checkbox">Cetus Cycle</label>
							</div>
						</li>
						<li class="text-left" id="option_earth">
							<div class="checkbox">
								<input type="checkbox" id="earth_checkbox" class="component-check" data-component="earth">
								<label for="earth_checkbox">Earth Cycle</label>
							</div>
						</li>
						<li class="text-left" id="option_reset">
							<div class="checkbox">
								<input type="checkbox" id="reset_checkbox" class="component-check" data-component="reset">
								<label for="reset_checkbox">Reset Timer</label>
							</div>
						</li>
						<li class="text-left" id="option_bounties">
							<div class="checkbox">
								<input type="checkbox" id="bounties_checkbox" class="component-check" data-component="bounties">
								<label for="bounties_checkbox">Bounties Timer</label>
							</div>
						</li>
						<li class="text-left" id="option_alerts">
							<div class="checkbox">
								<input type="checkbox" id="alerts_checkbox" class="component-check" data-component="alerts">
								<label for="alerts_checkbox">Alerts</label>
							</div>
						</li>
						<li class="text-left" id="option_invasions">
							<div class="checkbox">
								<input type="checkbox" id="invasions_checkbox" class="component-check" data-component="invasions">
								<label for="invasions_checkbox">Invasions</label>
							</div>
						</li>
						<li class="text-left" id="option_news">
							<div class="checkbox">
								<input type="checkbox" id="news_checkbox" class="component-check" data-component="news">
								<label for="news_checkbox">News</label>
							</div>
						</li>
						<li class="text-left" id="option_sortie">
							<div class="checkbox">
								<input type="checkbox" id="sortie_checkbox" class="component-check" data-component="sortie">
								<label for="sortie_checkbox">Sortie</label>
							</div>
						</li>
						<li class="text-left" id="option_fissuures">
							<div class="checkbox">
								<input type="checkbox" id="fissures_checkbox" class="component-check" data-component="fissures">
								<label for="fissures_checkbox">Fissures</label>
							</div>
						</li>
						<li class="text-left" id="option_voidtrader">
							<div class="checkbox">
								<input type="checkbox" id="voidtrader_checkbox" class="component-check" data-component="baro">
								<label for="voidtrader_checkbox">Void Trader</label>
							</div>
						</li>
						<li class="text-left" id="option_darvo">
							<div class="checkbox">
								<input type="checkbox" id="darvo_checkbox" class="component-check" data-component="darvo">
								<label for="darvo_checkbox">Darvo Deals</label>
							</div>
						</li>
						<li class="text-left" id="option_sales">
							<div class="checkbox">
								<input type="checkbox" id="sales_checkbox" class="component-check" data-component="deals">
								<label for="sales_checkbox">Sales</label>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown theme-picker">
					<a name="Theme Selection" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Theme <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center" id="theme_night">
							<a name="Nightmode" href="#" id="nightmode">
								<img class="cc-img inv" src="img/themes/night/icon.png">
								<span>Night Mode</span>
							</a>
						</li>
						<li class="text-center" id="theme_retro">
							<a name="Retro" href="#" id="retro">
								<img class="cc-img inv" src="img/themes/retro/icon.png">
								<span>Retro Mode</span>
							</a>
						</li>
						<li class="text-center" id="theme_eidolon">
							<a name="Eidolon" href="#" id="eidolon">
								<img class="cc-img inv" src="img/themes/eidolon/icon.png">
								<span>Eidolon</span>
							</a>
						</li>
						<li class="text-center" id="theme_none">
							<a name="No Theme" href="#" id="no-theme">
								<span>No Theme</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown platform-picker hide">
					<a name="Platform Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Platform <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center" data-platform="pc">
							<a name="PC Platform" href="#">
								<img class="inv" src="img/platforms/pc.svg" onerror="this.onerror=null; this.src='img/platform_icon/pc.png'" />
								<span>PC</span>
							</a>
						</li>
						<li class="text-center" data-platform="ps4">
							<a name="PS4 Platform" href="#">
								<img class="inv" src="img/platforms/ps4.svg" onerror="this.onerror=null; this.src='img/platform_icon/ps4.png'" />
								<span>PS4</span>
							</a>
						</li>
						<li class="text-center" data-platform="xb1">
							<a name="XB1 Platform" href="#">
								<img class="inv" src="img/platforms/xbox.svg" onerror="this.onerror=null; this.src='img/platform_icon/xbox.png'" />
								<span>XBox One</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
