<div id="templates" class="hide">
  {{> concat-templates}}
  <span id="label-template" class="label"></span>
  <img id="archwing-template" title="Archwing Required for Mission" src="https://i.imgur.com/R1kpRx4.png" class="archwing" height="16px">
  <img id="nightmare-template" title="Nightmare Mission" src="https://i.imgur.com/x5XoktW.png" class="nightmare" height="16px">
</div>
