apps/next/.vercel
apps/next/.vinext
apps/next/.next
apps/next/.output
apps/next/dist
apps/next/tsconfig.tsbuildinfo
apps/next/cypress/screenshots
apps/next/cypress/videos
apps/next/dev-dist
apps/next/node_modules
apps/hub
apps/legacy/.nuxt
apps/legacy/node_modules
node_modules
