# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.js text eol=cr
*.css text eol=cr
*.sh text eol=cr
*.json text eol=cr
*.md text eol=cr
*.html text eol=cr
*.hbs text eol=cr
*.yml text eol=cr
Procfile text eol=cr
LICENSE text eol=cr
.gitignore text eol=cr
.gitattributes text eol=cr
.eslintrc text eol=cr


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
