<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Warframe Hub | {{title}}</title>
        {{> analytics}}
        {{> dependencies}}
    </head>
    <body>
        {{> nav}}
        {{{body}}}
    </body>
</html>
