<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Warframe hub strives to be the community center of the Warframe game.">
        <meta name="theme-color" content="#1a5072">
        <title>Warframe Hub | {{title}}</title>
        <link rel="manifest" href="hub.webmanifest">
        {{> criticalassets}}
        {{> analytics}}
    </head>
    <body>
        {{> nav}}
        {{{body}}}
        {{> dependencies}}
        {{> footerscripts}}
        {{> themes}}
    </body>
</html>
