<li id="fissures-template" class="list-group-item list-group-item-borderless">
  <img class="fissureGlyph" height="24px">
  <b class="node"></b>
  | <span class="mission-type"></span>
  | <span class="tier"></span>
</li>
