<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-4">
			<img name="WFCD Logo" src="img/wfcd-icon.png" />
		</div>

		<div class="col-md-8">
			<h1>404 ERROR OH NO</h1>
			<h2>You broke the site!</h2>
			<h3>How could you?</h3>

			<br><br>
			<p>Don't worry, one of the developer will clean up the mess, you can carry on though!</p>
			<p>This interaction will be logged, so we can solve the problem faster.</p>
			<p>Speaking of which, one of the developers is probably panicking right now just because of this error log.</p>
			<p>Oh well, poor him.</p>
			<br><br>
			<a name="Main Page" href="./">Click here to return to a safe place</a>
		</div>

	</div>

	{{> footer}}
</div>

<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{> themes}}
