<div class="container">
    <div class="section text-center">

        <br><br>
        <div class="row">
            <table class="table table-bordered fish-info col-md-12">
                <thead>
                <tr>
                    <th title="The name of the fish">Fish Name</th>
                    <th title="Number of fish parts you receive is dependent on fish size">Size</th>
                    <th title="Number of fish meat you will receive when making bait">Meat</th>
                    <th title="Number of fish scale you will receive when making bait">Scales</th>
                    <th title="Number of fish oil you will receive when making bait">Oil</th>
                    <th title="You will always receive 1 of these per fish when making bait">Unique</th>
                    <th title="Ostron standing gain when donating fish">Standing</th>
                    <th title="Location of where to find the fish">Location</th>
                    <th title="Time of when you can find the fish">Time</th>
                    <th title="How likely the fish will spawn">Rarity</th>
                    <th title="The appropriate spear needed for this fish">Spear</th>
                    <th title="The maximum weight possible for this fish">Max Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr class="color1">
                    <td rowspan="3">Charc Eel</td>
                    <td>S</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td rowspan="3">Charc Electroplax</td>
                    <td>25</td>
                    <td rowspan="3">Lake</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">24 kg</td>
                </tr>
                <tr class="color1">
                    <td>M</td>
                    <td>4</td>
                    <td>3</td>
                    <td>2</td>
                    <td>35</td>
                </tr>
                <tr class="color1">
                    <td>L</td>
                    <td>5</td>
                    <td>4</td>
                    <td>3</td>
                    <td>50</td>
                </tr>
                <tr class="color2">
                    <td rowspan="3">Mawfish</td>
                    <td>S</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td rowspan="3">Mawfish Bones</td>
                    <td>25</td>
                    <td rowspan="3">Lake</td>
                    <td rowspan="3">Day</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">30 kg</td>
                </tr>
                <tr class="color2">
                    <td>M</td>
                    <td>4</td>
                    <td>2</td>
                    <td>3</td>
                    <td>35</td>
                </tr>
                <tr class="color2">
                    <td>L</td>
                    <td>5</td>
                    <td>3</td>
                    <td>2</td>
                    <td>50</td>
                </tr>
                <tr class="color3">
                    <td rowspan="3">Khut Khut</td>
                    <td>S</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td rowspan="3">Khut-Khut Venom Sac</td>
                    <td>25</td>
                    <td rowspan="3">Pond</td>
                    <td rowspan="3">Day</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">20 kg</td>
                </tr>
                <tr class="color3">
                    <td>M</td>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                    <td>35</td>
                </tr>
                <tr class="color3">
                    <td>L</td>
                    <td>4</td>
                    <td>3</td>
                    <td>5</td>
                    <td>50</td>
                </tr>
                <tr class="color4">
                    <td rowspan="3">Yogwun</td>
                    <td>S</td>
                    <td>4</td>
                    <td>1</td>
                    <td>1</td>
                    <td rowspan="3">Yogwun Stomach</td>
                    <td>25</td>
                    <td rowspan="3">Pond</td>
                    <td rowspan="3">Day</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">32 kg</td>
                </tr>
                <tr class="color4">
                    <td>M</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2</td>
                    <td>35</td>
                </tr>
                <tr class="color4">
                    <td>L</td>
                    <td>6</td>
                    <td>3</td>
                    <td>3</td>
                    <td>50</td>
                </tr>
                <tr class="color5">
                    <td rowspan="3">Goopola</td>
                    <td>S</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td rowspan="3">Goopola Spleen</td>
                    <td>25</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">20 kg</td>
                </tr>
                <tr class="color5">
                    <td>M</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>35</td>
                </tr>
                <tr class="color5">
                    <td>L</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3</td>
                    <td>50</td>
                </tr>
                <tr class="color6">
                    <td rowspan="3">Karkina</td>
                    <td>S</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td rowspan="3">Karkina Antenna</td>
                    <td>100</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Rare<br>Twilight Bait (Common)</td>
                    <td rowspan="3">Lanzo (T1)<br>Tulok (T2)</td>
                    <td rowspan="3">32 kg</td>
                </tr>
                <tr class="color6">
                    <td>M</td>
                    <td>2</td>
                    <td>4</td>
                    <td>6</td>
                    <td>125</td>
                </tr>
                <tr class="color6">
                    <td>L</td>
                    <td>3</td>
                    <td>5</td>
                    <td>8</td>
                    <td>200</td>
                </tr>
                <tr class="color7">
                    <td rowspan="3">Mortus Lungfish</td>
                    <td>S</td>
                    <td>3</td>
                    <td>1</td>
                    <td>4</td>
                    <td rowspan="3">Mortus Horn</td>
                    <td>100</td>
                    <td rowspan="3">Pond</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Rare (Day), Common (Night)<br>Peppered Bait</td>
                    <td rowspan="3">Lanzo (T1)<br>Peram (T3)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color7">
                    <td>M</td>
                    <td>4</td>
                    <td>2</td>
                    <td>6</td>
                    <td>125</td>
                </tr>
                <tr class="color7">
                    <td>L</td>
                    <td>5</td>
                    <td>3</td>
                    <td>8</td>
                    <td>200</td>
                </tr>
                <thead>
                <tr>
                    <th title="The name of the fish">Fish Name</th>
                    <th title="Number of fish parts you receive is dependent on fish size">Size</th>
                    <th title="Number of fish meat you will receive when making bait">Meat</th>
                    <th title="Number of fish scale you will receive when making bait">Scales</th>
                    <th title="Number of fish oil you will receive when making bait">Oil</th>
                    <th title="You will always receive 1 of these per fish when making bait">Unique</th>
                    <th title="Ostron standing gain when donating fish">Standing</th>
                    <th title="Location of where to find the fish">Location</th>
                    <th title="Time of when you can find the fish">Time</th>
                    <th title="How likely the fish will spawn">Rarity</th>
                    <th title="The appropriate spear needed for this fish">Spear</th>
                    <th title="The maximum weight possible for this fish">Max Weight</th>
                </tr>
                </thead>
                <tr class="color1">
                    <td rowspan="3">Sharrac</td>
                    <td>S</td>
                    <td>2</td>
                    <td>4</td>
                    <td>2</td>
                    <td rowspan="3">Sharrac Teeth</td>
                    <td>100</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Rare<br>Twilight Bait (Common)</td>
                    <td rowspan="3">Lanzo (T1)<br>Tulok (T2)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color1">
                    <td>M</td>
                    <td>3</td>
                    <td>6</td>
                    <td>3</td>
                    <td>125</td>
                </tr>
                <tr class="color1">
                    <td>L</td>
                    <td>4</td>
                    <td>8</td>
                    <td>4</td>
                    <td>200</td>
                </tr>
                <tr class="color2">
                    <td rowspan="3">Tralok</td>
                    <td>S</td>
                    <td>2</td>
                    <td>5</td>
                    <td>1</td>
                    <td rowspan="3">Tralok Eyes</td>
                    <td>100</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Day</td>
                    <td rowspan="3">Common<br>Peppered Bait</td>
                    <td rowspan="3">Tulok (T2)<br>Peram (T3)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color2">
                    <td>M</td>
                    <td>3</td>
                    <td>7</td>
                    <td>2</td>
                    <td>125</td>
                </tr>
                <tr class="color2">
                    <td>L</td>
                    <td>4</td>
                    <td>9</td>
                    <td>3</td>
                    <td>200</td>
                </tr>
                <tr class="color3">
                    <td rowspan="3">Cuthol</td>
                    <td>S</td>
                    <td>5</td>
                    <td>3</td>
                    <td>2</td>
                    <td rowspan="3">Cuthlor Tendrils</td>
                    <td>500</td>
                    <td rowspan="3">Pond</td>
                    <td rowspan="3">Night</td>
                    <td rowspan="3">Bait Required<br>(Hotspots)<br>Cuthol Bait</td>
                    <td rowspan="3">Lanzo (T1)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color3">
                    <td>M</td>
                    <td>8</td>
                    <td>4</td>
                    <td>3</td>
                    <td>625</td>
                </tr>
                <tr class="color3">
                    <td>L</td>
                    <td>11</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1000</td>
                </tr>
                <tr class="color4">
                    <td rowspan="3">Murkray</td>
                    <td>S</td>
                    <td>1</td>
                    <td>2</td>
                    <td>7</td>
                    <td rowspan="3">Murkray Liver</td>
                    <td>500</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Any</td>
                    <td rowspan="3">Bait Required<br>(Hotspots)<br>Murkray Bait</td>
                    <td rowspan="3">Lanzo (T1)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color4">
                    <td>M</td>
                    <td>3</td>
                    <td>4</td>
                    <td>7</td>
                    <td>625</td>
                </tr>
                <tr class="color4">
                    <td>L</td>
                    <td>5</td>
                    <td>6</td>
                    <td>9</td>
                    <td>1000</td>
                </tr>
                <tr class="color5">
                    <td rowspan="3">Norg</td>
                    <td>S</td>
                    <td>2</td>
                    <td>5</td>
                    <td>3</td>
                    <td rowspan="3">Norg Brain</td>
                    <td>500</td>
                    <td rowspan="3">Lake</td>
                    <td rowspan="3">Night</td>
                    <td rowspan="3">Bait Required<br>(Hotspots)<br>Norg Bait</td>
                    <td rowspan="3">Peram (T3)</td>
                    <td rowspan="3">40 kg</td>
                </tr>
                <tr class="color5">
                    <td>M</td>
                    <td>3</td>
                    <td>7</td>
                    <td>5</td>
                    <td>625</td>
                </tr>
                <tr class="color5">
                    <td>L</td>
                    <td>4</td>
                    <td>10</td>
                    <td>6</td>
                    <td>1000</td>
                </tr>
                <tr class="color6">
                    <td rowspan="3">Glappid</td>
                    <td>S</td>
                    <td>4</td>
                    <td>5</td>
                    <td>3</td>
                    <td rowspan="3">Seram Beetle Shell</td>
                    <td>1200</td>
                    <td rowspan="3">Sea</td>
                    <td rowspan="3">Night</td>
                    <td rowspan="3">Bait Required<br>(Hotspots)<br>Glappid Bait</td>
                    <td rowspan="3">Peram (T3)</td>
                    <td rowspan="3">44 kg</td>
                </tr>
                <tr class="color6">
                    <td>M</td>
                    <td>6</td>
                    <td>7</td>
                    <td>5</td>
                    <td>1500</td>
                </tr>
                <tr class="color6">
                    <td>L</td>
                    <td>8</td>
                    <td>9</td>
                    <td>7</td>
                    <td>2000</td>
                </tr>
                <tr class="color7">
                    <td>Boot</td>
                    <td>Boot</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Boot</td>
                    <td>0</td>
                    <td>All</td>
                    <td>Any</td>
                    <td>Can't believe you missed the fish</td>
                    <td>Boot</td>
                    <td>Boot</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <!-- Map Panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Fishing Map <a href="#fishmap" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
                </div>
                <div class="panel-body collapse" id="fishmap">
                    <img src="img/fishmap.png" />
                </div>
            </div>
        </div>

        {{> footer}}
    </div>
</div>
<!-- /.container -->

<!-- Fish Info -->
<div class="modal fade" id="fishinfo" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Fish Info</h4>
            </div>
            <div class="modal-body">
                Following Hotfix 22.0.3, you must equip the proper spear to catch the fish in 1 shot. Spear efficiency is determined by the type of fish you are catching. In order to have maximum fishing efficiency, you must equip all spears to catch all the different kinds of fish you might see.
                <br><br>
                <b>Twilight Bait:</b> Karkina and Sharrac (Sea)
                <br>
                <b>Cuthol Bait:</b> Cuthol (Pond)
                <br>
                <b>Murkray Bait:</b> Murkray (Sea)
                <br>
                <b>Norg Bait:</b> Norg (Lake)
                <br>
                <b>Glappid Bait:</b> Glappid (Sea)
                <br>
                <b>Peppered Bait:</b> Anything else at anywhere
                <br><br>
                Bait lasts 30 seconds, and must be through in wavy water:
                <br>
                <img src="img/wavywater.png" width=100% />
                <br>
                Image by Narration (WFRSB)
                <br>
                <a href="https://docs.google.com/document/d/1YsLgnEE00comLfMxDeRqUgjKg4GEM4RCcfnFSxb5BvM/edit">The definitive guide to fishing in Warframe</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Map Credits -->
<div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Chart Credits</h4>
            </div>
            <div class="modal-body">
                The information you see on this page was made possible by /u/cranem258 (Reddit) A.K.A. PepsiMan (IGN)
                <br><br>
                Huge thanks to Narration and his team for locations/rarities. Special thanks to the WFRSB server and staff.
                <br><br>
                Remaining info taken from https://semlar.com/fish and from http://warframe.wikia.com/wiki/Fishing
                <br><br>
                The fish are are organized by standing reward.
                <br><br>
                If you have any suggestions for edits or want to report a mistake please pm PEPSIMAN#6867 via Discord.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Moment CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

<!-- Add buttons to page -->
<script>
    var rightnavbar = $('#navbar-right');
    rightnavbar.prepend('<li><a href="#credits" data-target="#credits" data-toggle="modal" style="outline:none;">Chart Credits</a></li>');
    rightnavbar.prepend('<li><a href="#fishinfo" data-target="#fishinfo" data-toggle="modal" style="outline:none;">Fish Info</a></li>');
</script>

{{> nightmode}}