<div class="container">
	<div class="section text-center">

		<br><br>

		<div class="row">
			<!-- Map Panel -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Fishing Map <a name="Fishmap" href="#fishmap" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
				</div>
				<div class="panel-body collapse" id="fishmap">
					<img src="img/fishmap.png" />
				</div>
			</div>
		</div>

		<div class="row">
			<table class="table fish-info col-md-12">
				<thead>
					<tr>
						<th title="The name of the fish">Fish Name</th>
						<th title="Number of fish parts you receive is dependent on fish size">Size</th>
						<th title="Number of fish meat you will receive when making bait">Meat</th>
						<th title="Number of fish scale you will receive when making bait">Scales</th>
						<th title="Number of fish oil you will receive when making bait">Oil</th>
						<th title="You will always receive 1 of these per fish when making bait">Unique</th>
						<th title="Ostron standing gain when donating fish">Standing</th>
						<th title="Location of where to find the fish">Location</th>
						<th title="Time of when you can find the fish">Time</th>
						<th title="How likely the fish will spawn">Rarity</th>
						<th title="The appropriate spear needed for this fish">Spear</th>
						<th title="The maximum weight possible for this fish">Max Weight</th>
					</tr>
				</thead>
				<tbody>
					<tr class="color1">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Charc Eel
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/charceel.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Charc_Electroplax" target="_blank">
                <span class="glyphicon glyphicon-picture"></span> Charc Electroplax
                <div class="fish-tooltip-inner">
                  <img style="width:100%;" src="img/fish/part/electroplax.png" />
                </div>
              </a>
						</td>
						<td>25</td>
						<td rowspan="3">Lake</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">24 kg</td>
					</tr>
					<tr class="color1">
						<td>M</td>
						<td>4</td>
						<td>3</td>
						<td>2</td>
						<td>35</td>
					</tr>
					<tr class="color1">
						<td>L</td>
						<td>5</td>
						<td>4</td>
						<td>3</td>
						<td>50</td>
					</tr>
					<tr class="color2">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Mawfish
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/mawfish.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>3</td>
						<td>1</td>
						<td>2</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Mawfish_Bones" target="_blank"><span class="glyphicon glyphicon-picture"></span> Mawfish Bones
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/bones.png" />
                            </div>
                        </a>
						</td>
						<td>25</td>
						<td rowspan="3">Lake</td>
						<td rowspan="3">Day</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">30 kg</td>
					</tr>
					<tr class="color2">
						<td>M</td>
						<td>4</td>
						<td>2</td>
						<td>3</td>
						<td>35</td>
					</tr>
					<tr class="color2">
						<td>L</td>
						<td>5</td>
						<td>3</td>
						<td>2</td>
						<td>50</td>
					</tr>
					<tr class="color3">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Khut-Khut
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/khutkhut.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>2</td>
						<td>1</td>
						<td>3</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Khut-Khut_Venom_Sac" target="_blank"><span class="glyphicon glyphicon-picture"></span> Khut-Khut Venom Sac
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/sac.png" />
                            </div>
                        </a>
						</td>
						<td>25</td>
						<td rowspan="3">Pond</td>
						<td rowspan="3">Day</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">20 kg</td>
					</tr>
					<tr class="color3">
						<td>M</td>
						<td>3</td>
						<td>2</td>
						<td>4</td>
						<td>35</td>
					</tr>
					<tr class="color3">
						<td>L</td>
						<td>4</td>
						<td>3</td>
						<td>5</td>
						<td>50</td>
					</tr>
					<tr class="color4">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Yogwun
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/yogwun.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>4</td>
						<td>1</td>
						<td>1</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Yogwun_Stomach" target="_blank"><span class="glyphicon glyphicon-picture"></span> Yogwun Stomach
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/stomach.png" />
                            </div>
                        </a>
						</td>
						<td>25</td>
						<td rowspan="3">Pond</td>
						<td rowspan="3">Day</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">32 kg</td>
					</tr>
					<tr class="color4">
						<td>M</td>
						<td>5</td>
						<td>2</td>
						<td>2</td>
						<td>35</td>
					</tr>
					<tr class="color4">
						<td>L</td>
						<td>6</td>
						<td>3</td>
						<td>3</td>
						<td>50</td>
					</tr>
					<tr class="color5">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Goopola
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/goopola.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Goopolla_Spleen" target="_blank"><span class="glyphicon glyphicon-picture"></span> Goopola Spleen
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/spleen.png" />
                            </div>
                        </a>
						</td>
						<td>25</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">20 kg</td>
					</tr>
					<tr class="color5">
						<td>M</td>
						<td>3</td>
						<td>4</td>
						<td>2</td>
						<td>35</td>
					</tr>
					<tr class="color5">
						<td>L</td>
						<td>4</td>
						<td>5</td>
						<td>3</td>
						<td>50</td>
					</tr>
					<tr class="color6">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Karkina
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/karkina.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>1</td>
						<td>3</td>
						<td>4</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Karkina_Antenna" target="_blank"><span class="glyphicon glyphicon-picture"></span> Karkina Antenna
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/antenna.png" />
                            </div>
                        </a>
						</td>
						<td>100</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Rare<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Twilight Bait (Common)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/twilight-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Lanzo (T1)<br>Tulok (T2)</td>
						<td rowspan="3">32 kg</td>
					</tr>
					<tr class="color6">
						<td>M</td>
						<td>2</td>
						<td>4</td>
						<td>6</td>
						<td>125</td>
					</tr>
					<tr class="color6">
						<td>L</td>
						<td>3</td>
						<td>5</td>
						<td>8</td>
						<td>200</td>
					</tr>
					<tr class="color7">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Mortus Lungfish
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/mortus.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>3</td>
						<td>1</td>
						<td>4</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Mortus_Horn" target="_blank"><span class="glyphicon glyphicon-picture"></span> Mortus Horn
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/horn.png" />
                            </div>
                        </a>
						</td>
						<td>100</td>
						<td rowspan="3">Pond</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Rare (Day), Common (Night)<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Lanzo (T1)<br>Peram (T3)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color7">
						<td>M</td>
						<td>4</td>
						<td>2</td>
						<td>6</td>
						<td>125</td>
					</tr>
					<tr class="color7">
						<td>L</td>
						<td>5</td>
						<td>3</td>
						<td>8</td>
						<td>200</td>
					</tr>
					<thead>
						<tr>
							<th title="The name of the fish">Fish Name</th>
							<th title="Number of fish parts you receive is dependent on fish size">Size</th>
							<th title="Number of fish meat you will receive when making bait">Meat</th>
							<th title="Number of fish scale you will receive when making bait">Scales</th>
							<th title="Number of fish oil you will receive when making bait">Oil</th>
							<th title="You will always receive 1 of these per fish when making bait">Unique</th>
							<th title="Ostron standing gain when donating fish">Standing</th>
							<th title="Location of where to find the fish">Location</th>
							<th title="Time of when you can find the fish">Time</th>
							<th title="How likely the fish will spawn">Rarity</th>
							<th title="The appropriate spear needed for this fish">Spear</th>
							<th title="The maximum weight possible for this fish">Max Weight</th>
						</tr>
					</thead>
					<tr class="color1">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Sharrac
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/sharrac.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>2</td>
						<td>4</td>
						<td>2</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Sharrac_Teeth" target="_blank"><span class="glyphicon glyphicon-picture"></span> Sharrac Teeth
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/teeth.png" />
                            </div>
                        </a>
						</td>
						<td>100</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Rare<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Twilight Bait (Common)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/twilight-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Lanzo (T1)<br>Tulok (T2)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color1">
						<td>M</td>
						<td>3</td>
						<td>6</td>
						<td>3</td>
						<td>125</td>
					</tr>
					<tr class="color1">
						<td>L</td>
						<td>4</td>
						<td>8</td>
						<td>4</td>
						<td>200</td>
					</tr>
					<tr class="color2">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Tralok
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/tralok.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>2</td>
						<td>5</td>
						<td>1</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Tralok_Eyes" target="_blank"><span class="glyphicon glyphicon-picture"></span> Tralok Eyes
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/eyes.png" />
                            </div>
                        </a>
						</td>
						<td>100</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Day</td>
						<td rowspan="3">
							Common<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Peppered Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/peppered-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Tulok (T2)<br>Peram (T3)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color2">
						<td>M</td>
						<td>3</td>
						<td>7</td>
						<td>2</td>
						<td>125</td>
					</tr>
					<tr class="color2">
						<td>L</td>
						<td>4</td>
						<td>9</td>
						<td>3</td>
						<td>200</td>
					</tr>
					<tr class="color3">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Cuthol
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/cuthol.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>5</td>
						<td>3</td>
						<td>2</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Cuthol_Tendrils" target="_blank"><span class="glyphicon glyphicon-picture"></span> Cuthol Tendrils
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/tendrils.png" />
                            </div>
                        </a>
						</td>
						<td>500</td>
						<td rowspan="3">Pond</td>
						<td rowspan="3">Night</td>
						<td rowspan="3">
							Bait Required
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/">(<span class="glyphicon glyphicon-picture"></span> Hotspots)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;height:100%" src="img/fish/guide/hotspot.gif" />
                            </div>
                        </a>
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Cuthol Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/cuthol-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Lanzo (T1)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color3">
						<td>M</td>
						<td>8</td>
						<td>4</td>
						<td>3</td>
						<td>625</td>
					</tr>
					<tr class="color3">
						<td>L</td>
						<td>11</td>
						<td>5</td>
						<td>4</td>
						<td>1000</td>
					</tr>
					<tr class="color4">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Murkray
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/murkray.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>1</td>
						<td>2</td>
						<td>7</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Murkray_Liver" target="_blank"><span class="glyphicon glyphicon-picture"></span> Murkray Liver
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/liver.png" />
                            </div>
                        </a>
						</td>
						<td>500</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Any</td>
						<td rowspan="3">
							Bait Required
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/">(<span class="glyphicon glyphicon-picture"></span> Hotspots)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;height:100%" src="img/fish/guide/hotspot.gif" />
                            </div>
                        </a>
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Murkray Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/murkray-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Lanzo (T1)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color4">
						<td>M</td>
						<td>3</td>
						<td>4</td>
						<td>7</td>
						<td>625</td>
					</tr>
					<tr class="color4">
						<td>L</td>
						<td>5</td>
						<td>6</td>
						<td>9</td>
						<td>1000</td>
					</tr>
					<tr class="color5">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Norg
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/norg.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>2</td>
						<td>5</td>
						<td>3</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Norg_Brain" target="_blank"><span class="glyphicon glyphicon-picture"></span> Norg Brain
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/brain.png" />
                            </div>
                        </a>
						</td>
						<td>500</td>
						<td rowspan="3">Lake</td>
						<td rowspan="3">Night</td>
						<td rowspan="3">
							Bait Required
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/">(<span class="glyphicon glyphicon-picture"></span> Hotspots)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;height:100%" src="img/fish/guide/hotspot.gif" />
                            </div>
                        </a>
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Norg Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/bait/norg-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Peram (T3)</td>
						<td rowspan="3">40 kg</td>
					</tr>
					<tr class="color5">
						<td>M</td>
						<td>3</td>
						<td>7</td>
						<td>5</td>
						<td>625</td>
					</tr>
					<tr class="color5">
						<td>L</td>
						<td>4</td>
						<td>10</td>
						<td>6</td>
						<td>1000</td>
					</tr>
					<tr class="color6">
						<td rowspan="3">
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Glappid
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/glappid.png" />
                            </div>
                        </a>
						</td>
						<td>S</td>
						<td>4</td>
						<td>5</td>
						<td>3</td>
						<td rowspan="3">
							<a name="Wikia Article" rel="noopener" class="fish-tooltip" href="http://warframe.wikia.com/wiki/Seram_Beetle_Shell" target="_blank"><span class="glyphicon glyphicon-picture"></span> Seram Beetle Shell
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;" src="img/fish/part/shell.png" />
                            </div>
                        </a>
						</td>
						<td>1200</td>
						<td rowspan="3">Sea</td>
						<td rowspan="3">Night</td>
						<td rowspan="3">
							Bait Required
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/">(<span class="glyphicon glyphicon-picture"></span> Hotspots)
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;height:100%" src="img/fish/guide/hotspot.gif" />
                            </div>
                        </a>
							<br>
							<a name="Fish tooltip" class="fish-tooltip" href="#/"><span class="glyphicon glyphicon-picture"></span> Glappid Bait
                            <div class="fish-tooltip-inner">
                                <img style="width:100%;height:100%" src="img/fish/bait/glappid-bait.png" />
                            </div>
                        </a>
						</td>
						<td rowspan="3">Peram (T3)</td>
						<td rowspan="3">44 kg</td>
					</tr>
					<tr class="color6">
						<td>M</td>
						<td>6</td>
						<td>7</td>
						<td>5</td>
						<td>1500</td>
					</tr>
					<tr class="color6">
						<td>L</td>
						<td>8</td>
						<td>9</td>
						<td>7</td>
						<td>2000</td>
					</tr>
					<tr class="color7">
						<td>Boot</td>
						<td>Boot</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>Boot</td>
						<td>0</td>
						<td>All</td>
						<td>Any</td>
						<td>Can't believe you missed the fish</td>
						<td>Boot</td>
						<td>Boot</td>
					</tr>
				</tbody>
			</table>
		</div>

		{{> footer}}
	</div>
</div>
<!-- /.container -->

<!-- Fish Info -->
<div class="modal fade" id="fishinfo" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Fish Info</h4>
			</div>
			<div class="modal-body">
				Following Hotfix 22.0.3, you must equip the proper spear to catch the fish in 1 shot. Spear efficiency is determined by the type of fish you are catching. In order to have maximum fishing efficiency, you must equip all spears to catch all the different
				kinds of fish you might see.
				<br><br>
				<b>Twilight Bait:</b> Karkina and Sharrac (Sea)
				<br>
				<b>Cuthol Bait:</b> Cuthol (Pond)
				<br>
				<b>Murkray Bait:</b> Murkray (Sea)
				<br>
				<b>Norg Bait:</b> Norg (Lake)
				<br>
				<b>Glappid Bait:</b> Glappid (Sea)
				<br>
				<b>Peppered Bait:</b> Anything else at anywhere
				<br><br> Bait lasts 30 seconds, and must be through in wavy water:
				<br>
				<img src="img/fish/guide/hotspot.gif" width=100% />
				<br> GIF by How4Much (WFRSB)
				<br>
				<a name="How to Fish" href="./howtofish">The definitive guide to fishing in Warframe</a>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Chart Credits -->
<div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Chart Credits</h4>
			</div>
			<div class="modal-body">
				The information you see on this page was made possible by /u/cranem258 (Reddit) A.K.A. PepsiMan (IGN)
				<br><br> Huge thanks to Narration and his team for locations/rarities. Special thanks to the
				<a name="RSB Forums" rel="noopener" href="https://forums.warframe.com/topic/690039-warframe-raid-school-bus/" target="_blank">
                    Warframe Raid School Bus Community</a> server and staff.
				<br><br> Remaining info taken from https://semlar.com/fish and from http://warframe.wikia.com/wiki/Fishing
				<br><br> The fish are are organized by standing reward.
				<br><br> If you have any suggestions for edits or want to report a mistake please pm PEPSIMAN#6867 via Discord.
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Add buttons to page -->
<script>
	var rightnavbar = $('#navbar-right');
	rightnavbar.prepend('<li><a name="Credits" href="#credits" data-target="#credits" data-toggle="modal" style="outline:none;">Chart Credits</a></li>');
	rightnavbar.prepend('<li><a name="Fish Info" href="#fishinfo" data-target="#fishinfo" data-toggle="modal" style="outline:none;">Fish Info</a></li>');
</script>

{{> themes}}
