<div class="container-fluid">
	<div class="grid">
      <div class="grid-sizer col-md-6"></div>
			<div class="grid-item col-md-12" id="component-acolytes">
  				<h3 class="text-center">Current Acolytes</h3>
  				<ul class="list-group" id="acolyteList">
  					<li class="list-group-item list-group-item-borderbottom" id="acolytebody">
  						<span id="acolytetitle">Loading Acolytes...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-cetus">
  				<h3 class="text-center">Cetus Day/Night Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						Currently it is:
  						<span id="cetuscycleindicator"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderless">
  						<span id="cetuscycletitle">Loading...</span>
  						<span class="pull-right" id="cetuscycletime"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom">
  						<span class="pull-right label label-primary" id="cetustimezonetime" title="This is in your timezone!"></span>
  						<span id="cetustimezonetitle">Loading...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-earth">
  				<h3 class="text-center">Earth Day/Night Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						Currently it is:
  						<span id="earthcycleindicator"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderless">
  						<span class="pull-right" id="earthcycletime"></span>
  						<span id="earthcycletitle">Loading...</span>

  					</li>
  					<li class="list-group-item list-group-item-borderbottom">
  						<span class="pull-right label label-primary" id="earthtimezonetime" title="This is in your timezone!"></span>
  						<span id="earthtimezonetitle">Loading...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-bounties">
  				<h3 class="text-center">Ostron Bounty Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						<span class="pull-right" id="cetusbountytime"></span>
  						<span id="cetusbountytitle"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom text-center" id="bountybody">
  						<span id="bountytitle">Loading Bounties...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-alerts">
  				<h3 class="text-center">Current Alerts</h3>
  				<ul class="list-group" id="alertList">
  					<li class="list-group-item list-group-item-borderbottom" id="alertbody">
  						<span id="alerttitle">Loading Alerts...</span>
  					</li>
  				</ul>
      </div>
      <div class="grid-item col-md-6" id="component-news">
  				<h3 class="text-center">Orbiter News</h3>
  				<ul class="list-group" id="newsList">
  					<li class="list-group-item list-group-item-borderless" id="newstop"></li>
  					<li class="list-group-item list-group-item-borderbottom" id="newsbody">
  						<span id="newstitle">Loading News...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-invasions">
  				<h3 class="text-center">Current Invasions</h3>
  				<ul class="list-group" id="invasionList">
  					<li class="list-group-item list-group-item-borderbottom" id="invasionbody">
  						<span id="invasiontitle">Loading Invasions...</span>
  					</li>
  				</ul>
			</div>

      <div class="grid-item col-md-6" id="component-reset">
          <h3 class="text-center">Raid / Daily Reward Timer</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-borderbottom">
              <span class="pull-right" id="resettimertime"></span>
              <span id="resettimertitle"></span>
            </li>
          </ul>
      </div>

			<div class="grid-item col-md-6" id="component-sortie">
  				<h3 class="text-center">Sortie</h3>
  				<ul class="list-group">
  					<li id="sortietitle" class="list-group-item list-group-item-borderless">Loading Sortie...</li>
  					<li id="sortieBossInfo" class="list-group-item list-group-item-borderless"><span id="sortieFaction"></span>
  						<h4 id="sortieBoss"></h4></li>
  					<div id="sortieList"></div>
  					<li class="list-group-item list-group-item-borderbottom"></li>
  				</ul>
			</div>

			<div class="grid-item col-md-6 void-fissures" id="component-fissures">
  				<h3 class="text-center">Void Fissures</h3>
  				<ul class="list-group" id="fissureList">
  					<li class="list-group-item list-group-item-borderbottom" id="fissurebody">
  						<span id="fissuretitle">Loading Fissures...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-baro">
  				<h3 class="text-center">Void Trader</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
              					<span class="pull-right" id="voidtradertime"></span>
  						<span id="voidtradertitle">Loading...</span>
  					</li>
            <li class="list-group-item list-group-item-borderless">
  						<span class="pull-right label label-primary" id="voidtradertimezonetime" title="This is in your timezone!"></span>
  						<span id="voidtradertimezonetitle">Loading...</span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom" id="voidTraderBody"></li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-darvo">
  				<h3 class="text-center">Darvo Deals</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderbottom text-center" id="darvobody">
  						<span id="darvotitle">Loading Darvo Deals...</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-deals">
  				<h3 class="text-center">Sales and Featured Deals</h3>
          <ul class="list-group">
  					<li class="list-group-item list-group-item-borderbottom text-center" id="dealsbody">
  						<span id="dealstitle">Loading Deals...</span>
  					</li>
  				</ul>
			</div>
		</div>

		{{> footer}}
</div>
<!-- /.container -->

<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Moment CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<!-- packery CDN -->
<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<!-- draggabilly CDN -->
<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>

<!-- required js for page -->
<script src="js/main.js"></script>



<!-- Insert world state update information into footer -->
<script>
	$('#footer-content').append('<div class="pull-right"><a id="worldstateinfo" title="" data-placement="left" ' +
		'data-toggle="tooltip" href="#" data-original-title="World State obtained" style="margin-right:5px">' +
		'<span class="glyphicon glyphicon-info-sign"></span></div></a>');

	$('body').tooltip({
		selector: '[data-toggle="tooltip"]'
	});
</script>

{{> themes}}
