<div class="container-fluid">
  <div class="jumbotron" id="component-event">
    <ul class="list-group" id="component-event-body">
      <li class="list-group-item list-group-item-borderless">
        <h1 class="display-3" id="event-title">{{> loading}}</h1>
      </li>
    </ul>
  </div>
	<div class="grid">
      <div class="grid-sizer col-md-6"></div>
			<div class="grid-item col-md-6" id="component-cetus">
  				<h3 class="text-center">Cetus Day/Night Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						Currently it is:
  						<span id="cetuscycleindicator"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderless">
  						<span id="cetuscycletitle">{{> loading}}</span>
  						<span class="pull-right" id="cetuscycletime"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom">
  						<span class="pull-right label label-primary" id="cetustimezonetime" title="This is in your timezone!"></span>
  						<span id="cetustimezonetitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-earth">
  				<h3 class="text-center">Earth Day/Night Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						Currently it is:
  						<span id="earthcycleindicator"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderless">
  						<span class="pull-right" id="earthcycletime"></span>
  						<span id="earthcycletitle">{{> loading}}</span>

  					</li>
  					<li class="list-group-item list-group-item-borderbottom">
  						<span class="pull-right label label-primary" id="earthtimezonetime" title="This is in your timezone!"></span>
  						<span id="earthtimezonetitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

      <div class="grid-item col-md-6" id="component-acolytes">
  				<h3 class="text-center">Current Acolytes</h3>
  				<ul class="list-group" id="acolyteList">
  					<li class="list-group-item list-group-item-borderbottom" id="acolytebody">
  						<span id="acolytetitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-bounties">
  				<h3 class="text-center">Ostron Bounty Cycle</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
  						<span class="pull-right" id="cetusbountytime"></span>
  						<span id="cetusbountytitle"></span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom text-center" id="bountybody">
  						<span id="bountytitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-alerts">
  				<h3 class="text-center">Current Alerts</h3>
  				<ul class="list-group" id="alertList">
  					<li class="list-group-item list-group-item-borderbottom" id="alertbody">
  						<span id="alerttitle">{{> loading}}</span>
  					</li>
  				</ul>
      </div>
      <div class="grid-item col-md-6" id="component-news">
  				<h3 class="text-center">Orbiter News</h3>
  				<ul class="list-group" id="newsList">
  					<li class="list-group-item list-group-item-borderless" id="newstop"></li>
  					<li class="list-group-item list-group-item-borderbottom" id="newsbody">
  						<span id="newstitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-invasions">
  				<h3 class="text-center">Current Invasions</h3>
  				<ul class="list-group" id="invasionList">
  					<li class="list-group-item list-group-item-borderbottom" id="invasionbody">
  						<span id="invasiontitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

      <div class="grid-item col-md-6" id="component-reset">
          <h3 class="text-center">Daily Reward Timer</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-borderbottom">
              <span class="pull-right" id="resettimertime"></span>
              <span id="resettimertitle"></span>
            </li>
          </ul>
      </div>

			<div class="grid-item col-md-6" id="component-sortie">
  				<h3 class="text-center">Sortie</h3>
  				<ul class="list-group">
  					<li id="sortietitle" class="list-group-item list-group-item-borderless">{{> loading}}</li>
  					<li id="sortieBossInfo" class="list-group-item list-group-item-borderless">
              <span id="sortieFaction"></span>
  						<span><h4 id="sortieBoss"></h4></span>
              <span id="sortieTimerInfo"></span>
            </li>
  					<li class="list-group-item list-group-item-borderbottom"><div id="sortieList"></div></li>
  				</ul>
			</div>

			<div class="grid-item col-md-6 void-fissures" id="component-fissures">
  				<h3 class="text-center">Void Fissures</h3>
  				<ul class="list-group" id="fissureList">
  					<li class="list-group-item list-group-item-borderbottom" id="fissurebody">
  						<span id="fissuretitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-baro">
  				<h3 class="text-center">Void Trader</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderless">
    					<span class="pull-right" id="voidtradertime"></span>
			        <span id="voidtradertitle">{{> loading}}</span>
  					</li>
            <li class="list-group-item list-group-item-borderless">
  						<span class="pull-right label label-primary" id="voidtradertimezonetime" title="This is in your timezone!"></span>
  						<span id="voidtradertimezonetitle">{{> loading}}</span>
  					</li>
  					<li class="list-group-item list-group-item-borderbottom" id="voidTraderBody"></li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-darvo">
  				<h3 class="text-center">Darvo Deals</h3>
  				<ul class="list-group">
  					<li class="list-group-item list-group-item-borderbottom text-center" id="darvobody">
  						<span id="darvotitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>

			<div class="grid-item col-md-6" id="component-deals">
  				<h3 class="text-center">Sales and Featured Deals</h3>
          <ul class="list-group">
  					<li class="list-group-item list-group-item-borderbottom text-center" id="dealsbody">
  						<span id="dealstitle">{{> loading}}</span>
  					</li>
  				</ul>
			</div>
		</div>

		{{> footer}}
</div>
<!-- /.container -->

<!-- required js for page -->
<script src="js/utilities.js?v={{lookup sums 'js/utilities.js'}}"></script>
<script src="js/updaters.js?v={{lookup sums 'js/updaters.js'}}"></script>
<script src="js/main.js?v={{lookup sums 'js/main.js'}}"></script>


<!-- Insert world state update information into footer -->
<script>
	/* globals $, SVGInjector */
	$('#footer-content').append('<div class="pull-right"><a id="worldstateinfo" title="" data-placement="left" ' +
		'data-toggle="tooltip" href="#" data-original-title="World State obtained" style="margin-right:5px">' +
		'<span class="glyphicon glyphicon-info-sign"></span></div></a>');

	$('body').tooltip({
		selector: '[data-toggle="tooltip"]'
	});

	SVGInjector(document.querySelectorAll('img.loader'));
</script>
