<div class="container">
    <div class="section text-center">
		
		<br><br>
		<div class="row"> 
			<div class="col-md-6">
				<!-- Cetus Timer -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Cetus Day/Night Cycle <a href="#cetuscyclebody" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
					</div>
					<div class="panel-body collapse in" id="cetuscyclebody">
						<h3 id="cetuscycleindicator"></h3>
						<p class="info" id="cetuscycletitle">Loading</p>
						<p class="info" id="cetuscycletime">Cycle times...</p>
						<br><br>
						<p class="info" id="cetustimezonetitle">Loading</p>
						<p class="info" id="cetustimezonetime">Local time...</p>
					</div>
				</div>
				
				<!-- Earth Timer -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Earth Day/Night Cycle <a href="#earthcyclebody" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
					</div>
					<div class="panel-body collapse in" id="earthcyclebody">
						<h3 id="earthcycleindicator"></h3>
						<p class="info" id="earthcycletitle">Loading</p>
						<p class="info" id="earthcycletime">Cycle times...</p>
						<br><br>
						<p class="info" id="earthtimezonetitle">Loading</p>
						<p class="info" id="earthtimezonetime">Local time...</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
			
				<!-- Bounty Timer -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Ostron Bounty Cycle <a href="#cetusbountybody" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
					</div>
					<div class="panel-body collapse in" id="cetusbountybody">
						<p class="info" id="cetusbountytitle">Loading...</p>
						<p class="info" id="cetusbountytime">Ostron bounty cycle...</p>
					</div>
				</div>
				
				<!-- Void Trader Timer -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Void Trader <a href="#voidtraderbody" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
					</div>
					<div class="panel-body collapse in" id="voidtraderbody">
						<p class="info" id="voidtradertitle">Loading...</p>
						<p class="info" id="voidtradertime">Void trader cycle...</p>
						<br><br>
						<p class="info" id="voidtradertimezonetitle">Loading</p>
						<p class="info" id="voidtradertimezonetime">Local time...</p>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Stock</h3>
                            </div>
                            <div class="panel-body">
                                Items
                            </div>
                        </div>
					</div>
				</div>
				
				<!-- Darvo Timer -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Darvo Deals <a href="#darvobody" data-toggle="collapse"><span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a></h3>
					</div>
					<div class="panel-body collapse in" id="darvobody">
						<p class="info" id="darvotitle">Loading deals...</p>
					</div>
				</div>
			</div>
        </div>
		
		{{> footer}}
    </div>
</div>
<!-- /.container -->

<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<!-- required js for page -->
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

<!-- Insert world state update information into footer -->
<script>
    $('#footer-content').append('<div class="pull-right"><a id="worldstateinfo" title="" data-placement="left" ' +
            'data-toggle="tooltip" href="#" data-original-title="World State obtained">' +
            '<span class="glyphicon glyphicon-info-sign"></span></div></a>');
    $('#worldstateinfo').tooltip();
</script>