<div class="container">
    <div class="section">
		
		<br><br>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Cetus Day/Night Cycle</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderless">
                        Currently it is:
                        <span id="cetuscycleindicator"></span>
                    </li>
                    <li class="list-group-item list-group-item-borderless">
                        <span id="cetuscycletitle">Loading...</span>
                        <span class="pull-right" id="cetuscycletime"></span>
                    </li>
                    <li class="list-group-item list-group-item-borderbottom">
                        <span id="cetustimezonetitle">Loading...</span>
                        <span class="pull-right label label-primary" id="cetustimezonetime" title="This is in your timezone!"></span>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Earth Day/Night Cycle</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderless">
                        Currently it is:
                        <span id="earthcycleindicator"></span>
                    </li>
                    <li class="list-group-item list-group-item-borderless">
                        <span id="earthcycletitle">Loading...</span>
                        <span class="pull-right" id="earthcycletime"></span>
                    </li>
                    <li class="list-group-item list-group-item-borderbottom">
                        <span id="earthtimezonetitle">Loading...</span>
                        <span class="pull-right label label-primary" id="earthtimezonetime" title="This is in your timezone!"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Raid / Daily Reward Timer</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderbottom">
                        <span id="resettimertitle"></span>
                        <span class="pull-right" id="resettimertime"></span>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Ostron Bounty Cycle</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderbottom">
                        <span id="cetusbountytitle"></span>
                        <span class="pull-right" id="cetusbountytime"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Void Trader</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderless">
                        <span id="voidtradertitle">Loading...</span>
                        <span class="pull-right" id="voidtradertime"></span>
                    </li>
                    <li class="list-group-item list-group-item-borderless" id="voidTraderBody"></li>
                    <li class="list-group-item list-group-item-borderbottom">
                        <span id="voidtradertimezonetitle">Loading...</span>
                        <span class="pull-right label label-primary" id="voidtradertimezonetime" title="This is in your timezone!"></span>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Darvo Deals</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-borderbottom text-center" id="darvobody">
                        <span id="darvotitle">Loading Darvo Deals...</span>
                    </li>
                </ul>
            </div>
        </div>
		
		{{> footer}}
    </div>
</div>
<!-- /.container -->

<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Moment CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

<!-- required js for page -->
<script src="js/main.js"></script>



<!-- Insert world state update information into footer -->
<script>
    $('#footer-content').append('<div class="pull-right"><a id="worldstateinfo" title="" data-placement="left" ' +
            'data-toggle="tooltip" href="#" data-original-title="World State obtained">' +
            '<span class="glyphicon glyphicon-info-sign"></span></div></a>');
    $('#worldstateinfo').tooltip();
</script>

{{> nightmode}}