<div class="container-fluid">
  <div class="map-container">
    <div id="map" class="col-sm-12"></div>
  </div>
  {{> footer}}
</div>
<!-- /.container -->
<!-- Map Credits -->
<div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="creditsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Map Credits</h4>
      </div>
      <div class="modal-body">
        This map was made possible by /u/Major_Techie
        <br><a name="Reddit: Eidolon Map Stich" rel="noopener" href="https://www.reddit.com/r/Warframe/comments/76b96g/i_stitched_together_the_plains_of_eidolon_map_for/" target="_blank">Original Reddit Post</a>
        <br><br>
        Fish information made by /u/cranem258 and the amazing <a name="Raid School Bus Forums" rel="noopener" href="https://forums.warframe.com/topic/690039-warframe-raid-school-bus/" target="_blank">Warframe Raid School Bus Community</a>
        <br><a name="Fishing Information" href="./fish" target="_blank">Detailed fishing information</a>
        <br><br>
        General information by /u/Cammo_353
        <br><a name="Reddit: Eidolon Field Guide" rel="noopener" href="https://www.reddit.com/r/Warframe/comments/76ivu5/i_made_a_plains_of_eidolon_field_guide/" target="_blank">Reddit Guide Thread</a>
        <br><br>
        1000 Year Fish Information by Syahmi Samri
        <br><a name="Youtube: 1000 Year Fish" rel="noopener" href="https://www.youtube.com/watch?v=b6dz1L8q3bA" target="_blank">Original Youtube Video</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.js CDN, required by bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
<!-- Tether CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Google Maps Script -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiy4WUjEAGT2WCJWgsQK3f8Hz4qchbKuU"></script>
<script src="js/map.js"></script>
<!-- Add buttons to page -->
<script>
  var rightnavbar = $('#navbar-right');
  rightnavbar.prepend('<li><a name="Credits" href="#credits" data-target="#credits" data-toggle="modal" style="outline:none;">Map Credits</a></li>');
</script>
{{> themes}}
