.orange {
	margin-bottom: 10px;
    color: orange;
	font-weight:bold;
}

.darkblue {
	margin-bottom: 10px;
    color: darkblue;
	font-weight:bold;
}

.info {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .info {
    font-size: 22.5px;
  }
}

.map-container {
	padding-top: 20px;
	width: 100%;
	height: 90vh;
}

#map{
	height: 100%;
}