/* Day/Night Colors */
.orange {
    margin-bottom: 10px;
    color: orange;
    font-weight:bold;
}
.darkblue {
    margin-bottom: 10px;
    color: darkblue;
    font-weight:bold;
}

/* Info font customization */
.info {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    color: #ababab;
}
@media (min-width: 768px) {
    .info {
        font-size: 22.5px;
    }
}

/* Sticky bottom navbar style */
.navbar-footer {
    bottom: 0;
    width: 100%;
    height: 31px;
    background-color: #303030;
}
.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-footer a {
    color: #ababab;
}

/* Change panel color to less white */
.panel-body {
    color: #ababab;
}
.panel-title {
    color: #ababab !important;
}

/* Change label color to be less white */
.label {
    color: #000000 !important;
}

body {
    margin-top: 50px !important;
    margin-bottom: 40px !important;
}

/* Remove margins for info panel elements */
.panel-body > h3 {
    margin: 0;
}
.panel-body > p {
    margin: 0;
}

/* Fix panel jumpy collapse */
.panel-body {
    padding: 0 !important;
    margin: 10px !important;
}

/* Fish info table */
.fish-info {
    border: 2px solid #737373 !important;
    color: #ababab;
}
.fish-info >tbody>tr>td {
    border: 2px solid #737373 !important;
    color: #ababab;
    padding: 1px !important;
    vertical-align: middle !important;
}
.fish-info thead tr th {
    text-align: center;
    color: #ababab;
}
.color1 >td {
    background-color: #363540;
}
.color2 >td {
    background-color: #3f3540;
}
.color3 >td {
    background-color: #403535;
}
.color4 >td {
    background-color: #3a3540;
}
.color5 >td {
    background-color: #353e40;
}
.color6 >td {
    background-color: #3b4035;
}
.color7 >td {
    background-color: #403935;
}

/* Fish Image tooltip */
.fish-tooltip {
    text-decoration:none !important;
    color: #ababab !important;
}
a.fish-tooltip div{
    display:none;
    margin-left:8px;
}
a.fish-tooltip div.fish-tooltip-inner img{
    object-fit: contain;
    max-width:200px;
    max-height:125px;
}
a.fish-tooltip:hover div{
    display:inline;
    margin-top: -55px;
    position:absolute;
    border:2px solid #737373;
    background:#222222;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Add background color to WFCD banner in night mode */
.wfcd-banner {
    background-color: #777777;
}

/* Map Container style */
.map-container {
    padding-top: 20px;
    width: 100%;
    height: 90vh;
}
#map{
    height: 100%;
}