.fissure-icon, .nightmare, .archwing, .standing { height: 16px; width: 16px; margin-top: -3px; }
.plat { height: 20px; width: 20px; }
.sortie-faction { height: 20px; width: 20px; }

.cc-img {
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.faction-image {
  position: relative;
  top: -1px;
  width: 2em;
  max-width: 30px;
  max-height: 30px;
}

#sortieBossInfo {
  display: block;
}

#sortieBoss {
  display: inline;
}

.panel-heading a,
.panel-heading a:hover {
  text-decoration: none;
}

/* Invasion colors */
.corpus-invasion {
  background-color: #3498db;
}

.grineer-invasion {
  background-color: #e74c3c;
}

.infested-invasion {
  background-color: #18bc9c;
}

.corrupted-invasion {
  background-color: #f39c12;
}

.default-invasion {
  background-color: #95a5a6;
}

.progress {
  height: 15px;
  margin-bottom: 10px;
}

.progress-bar-grey {
  background-color: #f5f5f5;
}

/*
.winning-left {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}

.winning-right {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}*/

/* mobile width fix */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div[class*="col-"] {
    width: 100%;
  }

  /* For list items that go over labels */
  .list-group-item {
    font-size: .9em;
  }

  .label {
    font-size: .9em;
    margin-top: 2px;
  }

  .dropdown-menu span,
  .dropdown-menu label {
    color: white !important;
  }

  .fissure-body {
    display: inline-block;
    max-width: 80%;
    overflow: scroll;
  }
}

@media only screen and (min-width: 768px) {
  .wfcd-logo {
    height: 100%;
  }
}

/* picker dropdown stuff */
.component-selector ul li .checkbox {
  margin-left: 30px;
}
.platform-picker ul li:first-child,
.theme-picker ul li:first-child,
.component-selector ul li:first-child {
  border: 0;
}

.platform-picker ul a,
.theme-picker ul a,
.component-selector ul a {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.platform-picker ul a span,
.theme-picker ul a span,
.component-selector ul a span {
  flex-grow: 1;
}

.platform-picker ul a:hover span,
.theme-picker ul a:hover span,
.component-selector ul a:hover span {
  color: inherit;
}

.platform-picker img,
.theme-picker img,
.component-selector img {
  height: 16px;
  width: 16px;
  margin-top: 3px;
}

.platform-picker .list-group-item-success {
  color: white;
}

.platform-picker .list-group-item-success img {
  filter: invert(100%);
}

.platform-picker .list-group-item-success span {
  color: white !important;
}

/* Fish Image tooltip */
.fish-tooltip {
  text-decoration: none !important;
}

.fish-tooltip div {
  display: none;
  margin-left: 8px;
}

.fish-tooltip-inner img {
  object-fit: contain;
  max-width: 200px;
  max-height: 125px;
}

.fish-tooltip:hover div {
  display: inline;
  margin-top: -55px;
  position: absolute;
  border: 2px solid;
}

img, .wfcd-logo  {
  max-width: 100%;
  max-height: 100%;
}

/* Tables stuff */
.bountiesList tbody tr td {
  font-size: 11px;
}

.bountiesList tbody tr td ul {
  padding-left: 16px;
}

/* List group border adjustments */
.list-group-item-borderless {
  border: none !important;
}

.list-group-item-borderbottom {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #1A5072 !important;
}

/* Day/Night Colors */
.orange {
  margin-bottom: 10px;
  color: orange;
  font-weight: bold;
}
.darkblue {
  margin-bottom: 10px;
  color: darkblue;
  font-weight: bold;
}

/* Sticky bottom navbar style */
.navbar-footer {
  bottom: 0;
  width: 100%;
  height: 31px;
}
.navbar-footer > div > div {
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar-footer a {
  color: #ababab;
}

/* Margins for body */
body {
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}

/* force inversion images in progress bars to be white  */
.progress-bar .inv {
  filter: invert(100%);
}

/* Loader */
.loader {
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
}

/* Loader Animation */
@keyframes moving-left {
  0% {
    transform: translateX(35px);
  }
  50% {
    transform: translateX(-65px);
  }
  100% {
    transform: translateX(35px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moving-right {
  0% {
    transform: translateX(-35px);
  }
  50% {
    transform: translateX(65px);
  }
  100% {
    transform: translateX(-35px);
  }
}

.loader-left {
  animation: moving-left .3s ease infinite;
}

.loader-center {
  transform-origin: 50% 50%;
  animation: spin 1.2s linear infinite;
}

.loader-right {
  animation: moving-right .3s ease infinite;
}

/* wfcd logo (404 page)  */
.wfcd-logo path {
    fill: #0cf;
}
.wfcd-logo {
  width: 100%;
}


/* Map Container style */
.map-container {
  margin-top: 20px;
  width: 100%;
  height: 92vh;
}

#map {
  height: 100%;
}

/* Scrollable modal body. */
.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}