.fissure-icon, .nightmare, .archwing, .standing { height: 16px; width: 16px; margin-top: -3px; }
.plat { height: 20px; width: 20px; }
.sortie-faction { height: 20px; width: 20px; }

.cc-img {
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.faction-image {
    position: relative;
    top: 6px;
    width: 2em;
    max-width: 30px;
    max-height: 30px;
}

#sortieBossInfo {
    display: flex;
}

#sortieBoss {
    display: inline;
}

/* Invasion colors */
.corpus-invasion {
    background-color: #3498db;
}
.grineer-invasion {
    background-color: #e74c3c;
}
.infested-invasion {
    background-color: #18bc9c;
}
.corrupted-invasion {
    background-color: #f39c12;
}
.default-invasion {
    background-color: #95a5a6;
}
.progress {
    height: 15px;
    margin-bottom: 10px;
}

.progress-bar-grey {
  background-color: #f5f5f5;
}

.winning-left {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}
.winning-right {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}

/* mobile width fix */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div[class*="col-"] {
        width: 100%;
    }

    /* For list items that go over labels */
    .list-group-item { 
        font-size: 0.9em;
    }
    .label {
        font-size: 0.9em;
        margin-top: 2px;
    }
    .dropdown-menu span, .dropdown-menu label { 
        color: white!important;
    }
    
    .fissure-body {
        display: inline-block;
        max-width: 80%;
        overflow: scroll;
    }
}

/* picker dropdown stuff */
.component-selector ul li .checkbox {
  margin-left: 30px;
}
.platform-picker ul li:first-child,
  .theme-picker ul li:first-child,
  .component-selector ul li:first-child {
    border: 0;
}

.platform-picker ul a,
  .theme-picker ul a,
  .component-selector ul a {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.platform-picker ul a span,
  .theme-picker ul a span,
  .component-selector ul a span {
    flex-grow: 1;
}

.platform-picker ul a:hover span,
  .theme-picker ul a:hover span,
  .component-selector ul a:hover span {
    color: inherit;
}

.platform-picker img,
  .theme-picker img,
  .component-selector img {
    height: 16px;
    width: 16px;
    margin-top: 3px;
}

.platform-picker .list-group-item-success {
  background-color: #0f0f0f;
  color: white;
}

/* Fish image tooltip */
.fish-tooltip div{
    display:none;
    margin-left:8px;
}
.fish-tooltip-inner img{
    object-fit: contain;
    max-width:200px;
    max-height:125px;
}
img {
	max-width: 100%;
	max-height: 100%;
}

/* Tables stuff */
.bountiesList tbody tr td {
  font-size: 11px;
}

.bountiesList tbody tr td ul {
  padding-left: 16px;
}

/* List group border adjustments */
.list-group-item-borderless {
    border: none !important;
}
.list-group-item-borderbottom {
    border-style: solid;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px solid #1A5072 !important;
}

/* Day/Night Colors */
.orange {
    margin-bottom: 10px;
    color: orange;
    font-weight:bold;
}
.darkblue {
    margin-bottom: 10px;
    color: darkblue;
    font-weight:bold;
}

/* Sticky bottom navbar style */
.navbar-footer {
    bottom: 0;
    width: 100%;
    height: 31px;
}
.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-footer a {
    color: #ababab;
}

/* Margins for body */
body {
    margin-top: 50px !important;
    margin-bottom: 40px !important;
}

/* force inversion images in progress bars to be white  */
.progress-bar .inv {
    filter: invert(100%);
}