/* Day/Night Colors */
.orange {
	margin-bottom: 10px;
    color: orange;
	font-weight:bold;
}
.darkblue {
	margin-bottom: 10px;
    color: darkblue;
	font-weight:bold;
}

/* List group border adjustments */
.list-group-item-borderless {
    border: none !important;
}
.list-group-item-borderbottom {
    border-style: solid;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px solid #1A5072 !important;
}

/* Sticky bottom navbar style */
.navbar-footer {
    bottom: 0;
    width: 100%;
    height: 31px;
    background-color: #f5f5f5;
}
.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-footer a {
    color: #1A5072;
}

/* Tables stuff */
.bountiesList tbody tr td {
  font-size: 11px;
}

.bountiesList tbody tr td ul {
  padding-left: 16px;
}

/* Margins for body */
body {
    margin-top: 50px !important;
	margin-bottom: 40px !important;
}

/* Fish info table */
.fish-info {
    border: 2px solid #1a242f !important;
}
.fish-info >tbody>tr>td {
    border: 2px solid #1a242f !important;
    padding: 1px !important;
    vertical-align: middle !important;
}
.fish-info thead tr th {
    text-align: center;
}
.color1 >td {
    background-color: #ead1dc;
}
.color2 >td {
    background-color: #d9d2e9;
}
.color3 >td {
    background-color: #cfe2f3;
}
.color4 >td {
    background-color: #c9daf8;
}
.color5 >td {
    background-color: #d0e0e3;
}
.color6 >td {
    background-color: #d9ead3;
}
.color7 >td {
    background-color: #fff2cc;
}

/* Fish Image tooltip */
.fish-tooltip {
    text-decoration:none !important;
    color: #2c3e50 !important;
}
.fish-tooltip div{
    display:none;
    margin-left:8px;
}
.fish-tooltip-inner img{
    object-fit: contain;
    max-width:200px;
    max-height:125px;
}
.fish-tooltip:hover div{
    display:inline;
    margin-top: -55px;
    position:absolute;
    border:2px solid #1a242f;
    background:#617487;
}
img {
	max-width: 100%;
	max-height: 100%;
}

/* Map Container style */
.map-container {
	margin-top: 20px;
	width: 100%;
	height: 92vh;
}
#map{
	height: 100%;
}

/* Platform picker style */
.platform-picker ul li {
    border-top: 1px solid #e5e5e5;
}

.platform-picker ul li:first-child {
    border: 0;
}

.platform-picker ul a {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.platform-picker ul a span {
    flex-grow: 1;
    color: #1a5072;
}

.platform-picker ul a span {
    flex-grow: 1;
    color: #1a5072;
}

.platform-picker ul a:hover span {
    color: inherit;
}

.platform-picker img {
    height: 20px;
}

/* Nightmare glyph */
.nightmare, .archwing, .fissureGlyph {
  margin-top: -3px;
  filter: invert(100%); /*invert on main, not on night*/
}

.sortie #sortieBossInfo {
    display: flex;
}

.sortie #sortieBoss {
    margin: 10px 5px;
}

.sortie .faction-image {
    position: relative;
    top: 6px;
    width: 2em;
    filter: invert(100%);
}

/* Invasion colors */
.corpus-invasion {
    background-color: #3498db;
}
.grineer-invasion {
    background-color: #e74c3c;
}
.infested-invasion {
    background-color: #18bc9c;
}
.corrupted-invasion {
    background-color: #f39c12;
}
.default-invasion {
    background-color: #95a5a6;
}
.progress {
    height: 15px;
    margin-bottom: 10px;
}

.progress-bar-grey {
  background-color: #f5f5f5;
}

.winning-left {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}
.winning-right {
  -moz-animation: progress-bar-stripes 3s linear infinite;
  -ms-animation: progress-bar-stripes 3s linear infinite;
  -o-animation: progress-bar-stripes 3s linear infinite;
  -webkit-animation: progress-bar-stripes 3s linear infinite;
  animation: progress-bar-stripes 3s linear infinite;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}
