/* Designed by NeXoGone */

@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic";
*,h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Day/Night Colors */
.orange {
  margin-bottom: 10px;
  color: orange;
  font-weight: bold;
}

.darkblue {
  margin-bottom: 10px;
  color: #00addd;
  font-weight: bold;
}

.navbar {
  box-shadow: 0 2px 3px 0 rgba(0, 14, 15, 0.8);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 14, 15, 0.8);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 14, 15, 0.8);
}

.dropdown-menu {
  background-color: rgba(0, 12, 15, 0.98);
}

.list-group-item {
  background-color: rgba(12, 12, 12, 0.5);
}

.list-group-item-success {
  background-color: rgba(0, 172, 219, 0.3);
}

.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

/* List group border adjustments */
.list-group-item-borderless {
  border: none !important;
}

.list-group-item-borderbottom {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #00addd !important;
}

.label {
  border-radius: .1em;
}

.label-info {
  background-color: rgba(31, 116, 173, 0.7);
}

.label-success {
  background-color: rgba(23, 181, 149, 0.7);
}

.label-warning {
  background-color: rgba(194, 123, 10, 0.7);
}

.label-danger {
  background-color: rgba(182, 38, 22, 0.7);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: rgba(0, 172, 219, 0.1);
}

.navbar-default {
  background-color: rgba(1, 24, 30, 0.98);
}

.navbar-toggle {
  background-color: rgba(2, 48, 59, 0.95);
  border-color: #02303b !important;
}

/* Sticky bottom navbar style */
.navbar-footer {
  bottom: 0;
  width: 100%;
  height: 31px;
  background-color: rgba(18, 18, 18, 0.95);
}

.navbar-footer>div>div {
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar a,
.navbar-footer a,
.container a,
.list-group-item a {
  color: #00addd !important;
}

.navbar a:hover,
.navbar-footer a:hover,
.container a,
.list-group-item a:hover {
  color: #2be9ff !important;
}

a:hover {
  text-decoration: underline;
}

/* Tables stuff */
.bountiesList tbody tr td {
  font-size: 14px;
}

.bountiesList tbody tr td ul {
  padding-left: 16px;
}

/* Margins for body */
body {
  background: url(../img/themes/eidolon/background.jpg) no-repeat center center fixed;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 50px !important;
  margin-bottom: 40px !important;
  color: #00addd;
  font-size: 17px;
  text-shadow: 1px 1px 1px rgba(13, 13, 13, 0.2);
}

.panel {
  background-color: rgba(12, 12, 12, 0.3);
}

.panel-title {
	color: #13bdec;
}

.panel-primary {
  border-color: rgba(12, 12, 12, 0.7);
}

.panel-primary>.panel-heading {
  background-color: rgba(2, 48, 59, 0.98);
  border-color: rgba(2, 48, 59, 0.98);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(12, 12, 12, 0.5);
}

.table-striped>tbody>tr:nth-of-type(odd):hover,
.table-striped>tbody>tr:nth-of-type(even):hover {
  background-color: rgba(0, 120, 153, 0.2);
}

/* Fish info table */
.fish-info {
  border: 1px solid #0b3541 !important;
}

.fish-info td {
  color: #bacade;
}

.fish-info td a {
	color: #eff2f6;
}

.fish-info td a:hover {
  color: #ffffff;
}

.fish-info>tbody>tr>td {
  border: 1px solid #0b3541 !important;
  padding: 1px !important;
  vertical-align: middle !important;
}

.fish-info thead tr th {
  text-align: center;
}

.color1>td {
  background-color: rgba(210, 131, 164, 0.7);
}

.color2>td {
  background-color: rgba(156, 134, 208, 0.7);
}

.color3>td {
  background-color: rgba(115, 177, 231, 0.7);
}

.color4>td {
  background-color: rgba(102, 154, 244, 0.7);
}

.color5>td {
  background-color: rgba(135, 188, 197, 0.7);
}

.color6>td {
  background-color: rgba(153, 209, 133, 0.7);
}

.color7>td {
  background-color: rgba(230, 179, 25, 0.7);
}

/* Fish Image tooltip */
.fish-tooltip {
  text-decoration: none !important;
  color: #adbfd2 !important;
}

.fish-tooltip div {
  display: none;
  margin-left: 8px;
}

.fish-tooltip-inner img {
  object-fit: contain;
  max-width: 200px;
  max-height: 125px;
}

.fish-tooltip:hover div {
  display: inline;
  margin-top: -55px;
  position: absolute;
  border: 2px solid #0b3541;
  background: #617487;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Map Container style */
.map-container {
  margin-top: 20px;
  width: 100%;
  height: 92vh;
}

#map {
  height: 100%;
}

/* Picker dropdown style */
.component-selector ul li .checkbox {
  margin-left: 30px;
}

.platform-picker ul li,
.theme-picker ul li,
.component-selector ul li {
  border-top: 0;
}

.platform-picker ul li:first-child,
.theme-picker ul li:first-child,
.component-selector ul li:first-child {
  border: 0;
}

.platform-picker ul a,
.theme-picker ul a,
.component-selector ul a {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.platform-picker ul a span,
.theme-picker ul a span,
.component-selector ul a span {
  flex-grow: 1;
  color: #00addd;
}

.platform-picker ul a:hover span,
.theme-picker ul a:hover span,
.component-selector ul a:hover span {
  color: inherit;
}

.platform-picker img,
.theme-picker img,
.component-selector img {
  height: 20px;
}

/* Nightmare glyph */
.nightmare,
.archwing,
.fissureGlyph {
  margin-top: -3px;
  filter: invert(10%);
}

.inv {
  filter: invert(100%);
}

.cc-img {
  height: 16px;
  widght: 16px;
  overflow: hidden;
  filter: invert(70%);
}

#sortieBossInfo {
  display: flex;
}

#sortieBoss {
  margin: 10px 5px;
}

.faction-image {
  position: relative;
  top: 6px;
  width: 2em;
  filter: invert(100%);
}

/* Invasion colors */
.corpus-invasion {
  background-color: rgba(31, 116, 173, 0.8);
}

.grineer-invasion {
  background-color: rgba(182, 38, 22, 0.8);
}

.infested-invasion {
  background-color: rgba(23, 181, 149, 0.8);
}

.corrupted-invasion {
  background-color: rgba(194, 123, 10, 0.8);
}

.default-invasion {
  background-color: rgba(93, 110, 111, 0.8);
}

.progress {
  background-color: rgba(12, 12, 12, 0.7);
  height: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.progress-bar-grey {
  background-color: #999999;
}

.winning-left,
.winning-right {
  background-image: none;
}

.modal-content {
  background-color: rgba(18, 18, 18, 0.9);
  border-radius: 2px;
}

.close {
  color: #00addd !important;
}

.modal-content a,
.modal-content a:hover,
.close:hover,
.btn:hover {
  color: #2be9ff;
}

.modal-header {
  border-bottom: 1px solid rgba(0, 172, 219, 0.15);
}

.modal-footer {
  border-top: 1px solid rgba(0, 172, 219, 0.15);
}

.btn {
  border-radius: 2px;
  padding: 6px 12px;
  background-color: rgba(0, 172, 219, 0.15);
}

.dropdown-menu label,
.dropdown-menu span {
  color: #00addd !important;
}
