@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*! purgecss start ignore */

:root {
  --color-bg-navbar: #375a7f;
  --color-bg-primary: #222;
  --color-bg-box: #303030;
  --color-bg-newsbox: rgba(48, 48, 48, 0.829) !important;
  --color-bg-boxaccent: grey;
  --color-bg-secondary: #ffc402;
  --color-bg-default: #fff;
  --color-bg-inverse: #fff;

  --color-text-primary: #bbb;
  --color-text-secondary: #755f17;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-inverse: #444;
  --color-text-inverse-soft: #999;

  --font-display: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0.25rem;
}

.theme-dark {
  --color-bg-navbar: #1a5072;
  --color-bg-box: #2c2f33;
  --color-bg-newsbox: rgba(33, 35, 42, 0.829) !important;
  --color-bg-boxaccent: rgba(200, 225, 250, 0.2);
  --color-bg-primary: #222;
  --color-bg-secondary: #dcd0c0;
  --color-bg-default: #f4f4f4;
  --color-bg-inverse: #373737;
  --color-bg-tooltipbtn: #444;

  --color-text-navbarbrand: #fff;
  --color-text-primary: #bbb;
  --color-text-secondary: #927e7e;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #000;
  --color-text-inverse-soft: #bbb;

  --font-display: Georgia, Times, 'Times New Roman', serif;
  --font-body: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
    'Verdana Ref', sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;

  --color-border-box: #1a5072;
}
