#app {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #bbbbbb;
  padding-top: 75px;
  padding-bottom: 40px;
}

body a:hover {
  text-decoration: none;
}

body .list-group .list-group-item-borderless {
  border: none !important;
}

body .list-group .list-group-item-borderbottom {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #1a5072 !important;
}

body .list-group h3 {
  color: white;
}

h1,
h2,
h3,
h4 {
  clear: both;
}

li a {
  color: white;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.compact-text {
  display: none;
}

/* Badge coloring */
span.badge,
div.badge {
  padding: 0.2em 0.6em 0.3em;
  margin: 1px 1px 0px 1px;
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Bootstrap overrides */
.dropdown-item:hover,
.dropdown-item:focus {
  color: #00bd8e !important;
  background-color: transparent !important;
}

@media only screen and (min-width: 700px) {
  .navbar.fixed-top {
    height: 60px;
  }
}

.faIcon {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 5px;
}

.no-content-warning {
  display: inline-block;
  font-size: 2em;
}

.panel-header {
  margin-top: 20px;
}

.modal-body {
  max-height: calc(92vh - 300px);
  height: 100%;
  overflow-y: auto;
}

.tabs.row {
  height: 100%;
}

.modal .tab-content {
  height: 100%;
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
}

#settings-modal .modal-content {
  height: 671px;
}

.modal .settings-group {
  text-align: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.modal .settings-group > div {
  float: left;
  clear: both;
}

.tab-wrap {
  max-height: calc((100vh / 3) - 100px);
  overflow-y: scroll;
}

.navbar.fixed-bottom {
  height: 30px;
}

@media (min-width: 992px) {
  .modal-dialog.modal-md {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .modal .modal-dialog.modal-md {
    max-width: 100%;
  }
}

.dim {
  opacity: 0.5;
}

.li-mission-decorator {
  filter: invert(100%);
  margin-top: -3px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.li-mission-decorator-lg {
  height: 32px;
  width: 32px;
}

/* Leaflet overrides */
.leaflet-container {
  background: transparent;
}

.leaflet-control-layers-selector {
  float: left;
  margin-right: 5px;
}

.h-125 {
  height: 1rem;
  font-size: 1rem;
}

.bottom-pad {
  margin-bottom: 1em;
}

.leaflet-tooltip.map-label {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: white;
  font-size: 2em;
  text-shadow: 0px 0px 1px #000;
}

.invert img {
  filter: invert(100%);
}

/* Progress Circles */
.prog-circle .circle-percent-text-body {
  margin-top: -82px;
}

.card-body {
  padding: 0;
  margin: 0.75rem 1.25rem;
}

span.night:before {
  content: '🌙 ';
}

span.cold:before {
  content: '\2744 ';
}

span.day:before {
  content: '☀ ';
}

span.warm:before {
  content: '☀ ';
}

.synth-cell {
  height: 10em !important;
}
