#app {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #bbbbbb;
  padding-top: 75px;
  padding-bottom: 10px;
}

body a:hover {
  text-decoration: none;
}

body .list-group .list-group-item-borderless {
  border: none !important;
}

body .list-group .list-group-item-borderbottom {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #1A5072 !important;
}

body .list-group h3 {
  color: white;
}

h1, h2, h3, h4 {
  clear: both;
}

li a {
  color: white;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Badge coloring */
span.badge, div.badge {
  padding: .2em .6em .3em;
  margin: 1px 1px 0px 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Bootstrap overrides */
.dropdown-item:hover, .dropdown-item:focus {
  color: #00bd8e!important;
  background-color: transparent!important;
}

@media only screen and (min-width: 700px){
  .navbar.fixed-top {
    height: 60px;
  }
}

.faIconStyle {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 5px;
}

.no-content-warning {
  display: inline-block;
  font-size: 2.5em;
}

.panel-header {
  margin-top: 20px;
}

.modal-body {
  max-height: calc(92vh - 300px);
  overflow-y: auto;
}

.modal .tab-content {
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
}

.modal .settings-group {
  text-align: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.modal .settings-group > div {
  float: left;
  clear: both;
}

.tab-wrap {
  max-height: calc((100vh / 3) - 100px);
  overflow-y: scroll;
}

.navbar.fixed-bottom {
  height: 30px;
}

@media (min-width: 992px) {
  .modal-dialog.modal-md {
      max-width: 700px;
  }
}

@media (max-width: 700px) {
  .modal .modal-dialog.modal-md {
      max-width: 100%;
  }
}

.dim {
  opacity: 0.5;
}

.li-mission-decorator {
  filter: invert(100%);
  margin-top: -3px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.li-mission-decorator-lg {
  height: 32px;
  width: 32px;
}

/* Leaflet overrides */
.leaflet-container {
  background: transparent;
}

.leaflet-control-layers-selector {
  float: left;
  margin-right: 5px;
}

.h-125 {
  height: 1rem;
  font-size: 1rem;
}

.bottom-pad {
  margin-bottom: 1em;
}
