.night {
  @import (css) 'https://bootswatch.com/4/darkly/bootstrap.min.css';
  // @import (css) '~bootswatch/dist/darkly/bootstrap.min.css';

  .navbar.navbar-dark.bg-primary {
    background-color: #1a5072!important;
  }

  body {
    background-color: #23272A;
  }

  span.badge-warning {
    background-color: #684308;
  }

  span.badge-danger {
    background-color: #852d23;
  }

  span.badge-info {
    background-color: #004d80;
  }

  span.badge-primary {
    background-color: #194c6c;
  }

  span.badge-success {
    background-color: #00523d;
  }

  body a {
    color: rgb(171, 171, 171);
  }
}
