.retro {
  #app, body {
    background: #000;
    color: #39ff14;
  }
  
  .navbar.navbar-dark.bg-primary {
    background-color: #000;
  }

  .list-group .list-group-item {
    background-color: #000;
  }

  body {
    background-color: #000;
    color: #39ff14;
  }

  .badge-warning {
    background-color: #39ff14;
  }

  .badge-danger {
    background-color: #39ff14;
  }

  .badge-info {
    background-color: #39ff14;
  }

  .badge-primary {
    background-color: #39ff14;
  }

  .badge-success {
    background-color: #39ff14;
  }

  body a {
    color: rgb(171, 171, 171);
  }

  .router-link-exact-active.router-link-active, .router-link-active {
    color: rgb(0, 188, 140);
  }
}
