.table td,
.table th {
  vertical-align: middle !important;
}

.table td {
  padding: 0 !important;
}

.table th {
  padding: 0.75rem 0;
}

.table.b-table > tbody > tr > td {
  height: 3em;
}

.bounty-table.b-table > tbody > tr > td {
  border: 0;
}

.table {
  font-size: 12px;
}
