.retro {
  @text-color: #39ff14;
  @text-faded: @text-color;
  @bg: #000;
  @bg-darker: #000;
  @link-color: @text-color;
  @link-hover-color: @text-color;
  @theme-primary: @bg;
  @border-color: @text-color;
  @modal-border: @text-color;
  @dh-color: #888;
  @dm-color: #212529;
  @active-page: rgb(0, 188, 140);

  /* Bootstrap theme colors */
  @badge-color: @bg;
  @warning-bg: @text-color;
  @danger-bg: @text-color;
  @info-bg: @text-color;
  @info-color: @bg;
  @info-bg-hover: @text-color;
  @primary-bg: @text-color;
  @success-bg: @text-color;
  @secondary-bg: @text-color;
  @secondary-bg-hover: #313131;
  @secondary-bg-border: #2b2a2a;

  @stripe-bg: #000;
  @check-color: #375a7f;
  @tr-hover: rgba(0, 0, 0, 0.075);

  @panel-bg: @bg;
  @panel-bt-border: @text-color;

  @day-color: rgba(249, 168, 6, 0.8);
  @night-color: rgba(51, 211, 255, 0.8);

  @import './coloration.less';
}
