/* ui/NoDataItem/NoDataItem.component.scss */

.hub-empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hub-empty-state-icon {
  flex: 0 0 auto;
}

.hub-no-data-item {
  padding-block: 0.25rem;
  padding-inline: 0.35rem;
}

.hub-no-data-item--border-bottom {
  border-bottom: 0;
}
